.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    max-width: 80%;
}

.header img {
    padding: 15px;
    max-height: 300px;
}

.header text {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    letter-spacing: 0.3em;
    color: #FFFFFF;
}