.header {
    text-align: center;
    align-self: center;
    align-items: center;  
    width: 100%;
}

.header img {
    padding: 15px;
    max-height: 300px;
}

.header text {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 47px;
    letter-spacing: 0.3em;
    color: #FFFFFF;
}