.post-column {
    max-width: 50%;
}

.post-column span {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    color: #FFFFFF;
}