.texto {
    width: 100%;
}

.texto p {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    text-align: justify;
    color: #FFFFFF;
}