body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Oswald', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  align-items: center;
  align-self: center;
  align-content: center;
  background: linear-gradient(146.65deg, #020213 0.93%, #091C38 97.36%);
}